<div class="page_body">
    <a class="intr_link" target="_blank" href="https://realfavicongenerator.net/">在线Favicon生成</a>
    <div class="intr_desc">
        上传一张图片，自动生成各种尺寸的favicon图标，同步生成对应html代码。
    </div>
</div>
