<!DOCTYPE html>
<html>
<head>
    <title>Something is happening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        .err-block{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -130px;
            margin-top: -90px;
            text-align: center;
            background-color: white;
            text-align: center;
        }
        .err-img {
            height: 40px;
            width: 278px;;
        }
        .err-txt{
            display: inline-block;
            font-size: 16px;
            width: 260px;
            text-align: center;
        }
        .err-title {margin-top: 30px;}
        .err-btn { width: 200px;font-size: 20px;border: none;background:none;border:1px #ff8830 solid;color: #000000;border-radius: 3px;padding: 4px 10px;}
    </style>
</head>
<body>
<div class="err-block">
    <div class="err-txt">
        <div class="err-img">404</div>
        <div class="err-title">Something is happening.</div><br>
    </div>
</div>
</body>
</html>
