<div class="about_page">
    <p><span class="pub_blue_strong">认识（Cognition）</span>在心理学中是指通过形成概念、知觉、判断或想象等心理活动来获取知识的过程，即个体思维进行信息处理（information processing）的心理功能。</p>
    <p>最近二十年里，认知科学与脑科学长足发展。大量的研究结果表明，人与人之间的技能差异，证据确凿地来自于<span class="pub_blue_strong">“刻意训练”（Deliberate Practice）</span>.</p>
    <p>概念有很多，却很少有人重视<span class="pub_blue_strong">概念的力量</span>。而且所谓自己认识的概念，竟然是错的。</p>
    <p>我们也在<span class="pub_blue_strong">创造自己的概念</span>，如果概念不清楚，将错过多少真正的精彩。</p>
    <p style="text-align: center;">让我们一起分享概念，看清世界</p>
    <p style="text-align: center;"><span class="pub_blue_strong">未来</span>的自己</p>
    <p style="text-align: center;">
        任何意见或建议：<span style="color: #3a3a3a;">advice@coollist.cn</span>
    </p>
    <p class="about_desc">
        <img src="/images/qrcode_for_gh_74ae182dc99b_344.jpg" style="width: 180px;height: 180px;display: block;margin: 0px auto;">
        <span >公众号「酷粒」, 得到更多</span>
    </p>
</div>
