<div class="about_page">
    <p>
    <p style="text-align: center;">web前端开发在线效率工具</p>
    <p style="text-align: center;">
        任何意见或建议：<span style="color: #3a3a3a;">ljinkai@126.com</span>
    </p>
    <p class="about_desc">
        <img src="/images/qrcode_for_gh_74ae182dc99b_344.jpg" style="width: 180px;height: 180px;display: block;margin: 0px auto;">
        <span >公众号「酷粒」, 得到更多</span>
    </p>
</div>
