<!DOCTYPE html>
<html>
<head>
    <title>coollist</title>

    <meta name="keywords"
          content="coollist">
    <meta name="description"
          content="coollist is the fun">
    <% include head.ejs %>
</head>

<body ng-app="app" class="bodyOrange layout_pub">

<%- body %>


<script src="/vendor_copy/jquery/jquery.js"></script>
<script src="/vendor_copy/bootstrap/bootstrap.js"></script>

<% include footer.ejs %>
</body>
</html>

