<div class="header" ng-controller="NavController">
    <div class="header_con">
        <div class="nav_items">
            <h2 id="nav_main" class="nav_item nav_item-main">
                <a href="/" target="_self" class="nav_logo_a">
                    <div class="nav_logo">酷粒</div>
                </a>
            </h2>
            <h2 id="nav_new" class="nav_item" ng-class="{'nav_item-active':nav_item == 'new'}">
                <a href="/new" target="_self">最新</a>
            </h2>
        </div>
        <div class="header_set">
            <div id="nav_submit" class="pub_btn nav_add" ng-click="submit($event)">发布</div>
            <a class="nav_item nav_item-right hide" ng-class="{'show':!loginState}" href="/login" target="_self">登录</a>
            <div class="nav_item nav_item-right hide" ng-class="{'show':loginState}">
                <div class="nav_user">
                    <div class="nav_user_name" ng-bind="userName"></div>
                    <div class="user_extend nav_item-opacity">
                        <div class="user_extend_item" ng-click="logout($event)">退出</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>