<style>
    .wrapper {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        height: auto;}
    table {border-collapse: collapse;
        border-spacing: 0;}
    .pb20 {padding-bottom: 20px;padding-top: 20px;}
    .Tsfuhao-Wrap02 th, .Tsfuhao-Wrap td {
        border: 1px solid #c6cede;
        border-collapse: collapse;
        padding: 7px;
    }
</style>

<div class="wrapper pt20 pb20">


    <div class="Tsfuhao-Wrap auto">
        <h4 class="fz18 YaHei lh30 h30 col-gray03 pb10">HTML 特殊符号编码对照表</h4>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr height="26">
                <td align="center" bgcolor="#f1f9ff">特殊符号</td>
                <td bgcolor="#f1f9ff">命名实体</td>
                <td bgcolor="#f1f9ff">十进制编码</td>
                <td align="center" bgcolor="#f1f9ff">特殊符号</td>
                <td bgcolor="#f1f9ff">命名实体</td>
                <td bgcolor="#f1f9ff">十进制编码</td>
                <td align="center" bgcolor="#f1f9ff">特殊符号</td>
                <td bgcolor="#f1f9ff">命名实体</td>
                <td bgcolor="#f1f9ff">十进制编码</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Α</td>
                <td>&amp;Alpha;</td>
                <td>&amp;#913;</td>
                <td align="center" bgcolor="#f1f9ff">Β</td>
                <td>&amp;Beta;</td>
                <td>&amp;#914;</td>
                <td align="center" bgcolor="#f1f9ff">Γ</td>
                <td>&amp;Gamma;</td>
                <td>&amp;#915;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Δ</td>
                <td>&amp;Delta;</td>
                <td>&amp;#916;</td>
                <td align="center" bgcolor="#f1f9ff">Ε</td>
                <td>&amp;Epsilon;</td>
                <td>&amp;#917;</td>
                <td align="center" bgcolor="#f1f9ff">Ζ</td>
                <td>&amp;Zeta;</td>
                <td>&amp;#918;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Η</td>
                <td>&amp;Eta;</td>
                <td>&amp;#919;</td>
                <td align="center" bgcolor="#f1f9ff">Θ</td>
                <td>&amp;Theta;</td>
                <td>&amp;#920;</td>
                <td align="center" bgcolor="#f1f9ff">Ι</td>
                <td>&amp;Iota;</td>
                <td>&amp;#921;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Κ</td>
                <td>&amp;Kappa;</td>
                <td>&amp;#922;</td>
                <td align="center" bgcolor="#f1f9ff">Λ</td>
                <td>&amp;Lambda;</td>
                <td>&amp;#923;</td>
                <td align="center" bgcolor="#f1f9ff">Μ</td>
                <td>&amp;Mu;</td>
                <td>&amp;#924;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Ν</td>
                <td>&amp;Nu;</td>
                <td>&amp;#925;</td>
                <td align="center" bgcolor="#f1f9ff">Ξ</td>
                <td>&amp;Xi;</td>
                <td>&amp;#926;</td>
                <td align="center" bgcolor="#f1f9ff">Ο</td>
                <td>&amp;Omicron;</td>
                <td>&amp;#927;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Π</td>
                <td>&amp;Pi;</td>
                <td>&amp;#928;</td>
                <td align="center" bgcolor="#f1f9ff">Ρ</td>
                <td>&amp;Rho;</td>
                <td>&amp;#929;</td>
                <td align="center" bgcolor="#f1f9ff">Σ</td>
                <td>&amp;Sigma;</td>
                <td>&amp;#931;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Τ</td>
                <td>&amp;Tau;</td>
                <td>&amp;#932;</td>
                <td align="center" bgcolor="#f1f9ff">Υ</td>
                <td>&amp;Upsilon;</td>
                <td>&amp;#933;</td>
                <td align="center" bgcolor="#f1f9ff">Φ</td>
                <td>&amp;Phi;</td>
                <td>&amp;#934;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">Χ</td>
                <td>&amp;Chi;</td>
                <td>&amp;#935;</td>
                <td align="center" bgcolor="#f1f9ff">Ψ</td>
                <td>&amp;Psi;</td>
                <td>&amp;#936;</td>
                <td align="center" bgcolor="#f1f9ff">Ω</td>
                <td>&amp;Omega;</td>
                <td>&amp;#937;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">α</td>
                <td>&amp;alpha;</td>
                <td>&amp;#945;</td>
                <td align="center" bgcolor="#f1f9ff">β</td>
                <td>&amp;beta;</td>
                <td>&amp;#946;</td>
                <td align="center" bgcolor="#f1f9ff">γ</td>
                <td>&amp;gamma;</td>
                <td>&amp;#947;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">δ</td>
                <td>&amp;delta;</td>
                <td>&amp;#948;</td>
                <td align="center" bgcolor="#f1f9ff">ε</td>
                <td>&amp;epsilon;</td>
                <td>&amp;#949;</td>
                <td align="center" bgcolor="#f1f9ff">ζ</td>
                <td>&amp;zeta;</td>
                <td>&amp;#950;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">η</td>
                <td>&amp;eta;</td>
                <td>&amp;#951;</td>
                <td align="center" bgcolor="#f1f9ff">θ</td>
                <td>&amp;theta;</td>
                <td>&amp;#952;</td>
                <td align="center" bgcolor="#f1f9ff">ι</td>
                <td>&amp;iota;</td>
                <td>&amp;#953;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">κ</td>
                <td>&amp;kappa;</td>
                <td>&amp;#954;</td>
                <td align="center" bgcolor="#f1f9ff">λ</td>
                <td>&amp;lambda;</td>
                <td>&amp;#955;</td>
                <td align="center" bgcolor="#f1f9ff">μ</td>
                <td>&amp;mu;</td>
                <td>&amp;#956;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">ν</td>
                <td>&amp;nu;</td>
                <td>&amp;#957;</td>
                <td align="center" bgcolor="#f1f9ff">ξ</td>
                <td>&amp;xi;</td>
                <td>&amp;#958;</td>
                <td align="center" bgcolor="#f1f9ff">ο</td>
                <td>&amp;omicron;</td>
                <td>&amp;#959;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">π</td>
                <td>&amp;pi;</td>
                <td>&amp;#960;</td>
                <td align="center" bgcolor="#f1f9ff">ρ</td>
                <td>&amp;rho;</td>
                <td>&amp;#961;</td>
                <td align="center" bgcolor="#f1f9ff">ς</td>
                <td>&amp;sigmaf;</td>
                <td>&amp;#962;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">σ</td>
                <td>&amp;sigma;</td>
                <td>&amp;#963;</td>
                <td align="center" bgcolor="#f1f9ff">τ</td>
                <td>&amp;tau;</td>
                <td>&amp;#964;</td>
                <td align="center" bgcolor="#f1f9ff">υ</td>
                <td>&amp;upsilon;</td>
                <td>&amp;#965;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">φ</td>
                <td>&amp;phi;</td>
                <td>&amp;#966;</td>
                <td align="center" bgcolor="#f1f9ff">χ</td>
                <td>&amp;chi;</td>
                <td>&amp;#967;</td>
                <td align="center" bgcolor="#f1f9ff">ψ</td>
                <td>&amp;psi;</td>
                <td>&amp;#968;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">ω</td>
                <td>&amp;omega;</td>
                <td>&amp;#969;</td>
                <td align="center" bgcolor="#f1f9ff">ϑ</td>
                <td>&amp;thetasym;</td>
                <td>&amp;#977;</td>
                <td align="center" bgcolor="#f1f9ff">ϒ</td>
                <td>&amp;upsih;</td>
                <td>&amp;#978;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">ϖ</td>
                <td>&amp;piv;</td>
                <td>&amp;#982;</td>
                <td align="center" bgcolor="#f1f9ff">•</td>
                <td>&amp;bull;</td>
                <td>&amp;#8226;</td>
                <td align="center" bgcolor="#f1f9ff">…</td>
                <td>&amp;hellip;</td>
                <td>&amp;#8230;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">′</td>
                <td>&amp;prime;</td>
                <td>&amp;#8242;</td>
                <td align="center" bgcolor="#f1f9ff">″</td>
                <td>&amp;Prime;</td>
                <td>&amp;#8243;</td>
                <td align="center" bgcolor="#f1f9ff">‾</td>
                <td>&amp;oline;</td>
                <td>&amp;#8254;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⁄</td>
                <td>&amp;frasl;</td>
                <td>&amp;#8260;</td>
                <td align="center" bgcolor="#f1f9ff">℘</td>
                <td>&amp;weierp;</td>
                <td>&amp;#8472;</td>
                <td align="center" bgcolor="#f1f9ff">ℑ</td>
                <td>&amp;image;</td>
                <td>&amp;#8465;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">ℜ</td>
                <td>&amp;real;</td>
                <td>&amp;#8476;</td>
                <td align="center" bgcolor="#f1f9ff">™</td>
                <td>&amp;trade;</td>
                <td>&amp;#8482;</td>
                <td align="center" bgcolor="#f1f9ff">ℵ</td>
                <td>&amp;alefsym;</td>
                <td>&amp;#8501;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">←</td>
                <td>&amp;larr;</td>
                <td>&amp;#8592;</td>
                <td align="center" bgcolor="#f1f9ff">↑</td>
                <td>&amp;uarr;</td>
                <td>&amp;#8593;</td>
                <td align="center" bgcolor="#f1f9ff">→</td>
                <td>&amp;rarr;</td>
                <td>&amp;#8594;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">↓</td>
                <td>&amp;darr;</td>
                <td>&amp;#8595;</td>
                <td align="center" bgcolor="#f1f9ff">↔</td>
                <td>&amp;harr;</td>
                <td>&amp;#8596;</td>
                <td align="center" bgcolor="#f1f9ff">↵</td>
                <td>&amp;crarr;</td>
                <td>&amp;#8629;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⇐</td>
                <td>&amp;lArr;</td>
                <td>&amp;#8656;</td>
                <td align="center" bgcolor="#f1f9ff">⇑</td>
                <td>&amp;uArr;</td>
                <td>&amp;#8657;</td>
                <td align="center" bgcolor="#f1f9ff">⇒</td>
                <td>&amp;rArr;</td>
                <td>&amp;#8658;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⇓</td>
                <td>&amp;dArr;</td>
                <td>&amp;#8659;</td>
                <td align="center" bgcolor="#f1f9ff">⇔</td>
                <td>&amp;hArr;</td>
                <td>&amp;#8660;</td>
                <td align="center" bgcolor="#f1f9ff">∀</td>
                <td>&amp;forall;</td>
                <td>&amp;#8704;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∂</td>
                <td>&amp;part;</td>
                <td>&amp;#8706;</td>
                <td align="center" bgcolor="#f1f9ff">∃</td>
                <td>&amp;exist;</td>
                <td>&amp;#8707;</td>
                <td align="center" bgcolor="#f1f9ff">∅</td>
                <td>&amp;empty;</td>
                <td>&amp;#8709;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∇</td>
                <td>&amp;nabla;</td>
                <td>&amp;#8711;</td>
                <td align="center" bgcolor="#f1f9ff">∈</td>
                <td>&amp;isin;</td>
                <td>&amp;#8712;</td>
                <td align="center" bgcolor="#f1f9ff">∉</td>
                <td>&amp;notin;</td>
                <td>&amp;#8713;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∋</td>
                <td>&amp;ni;</td>
                <td>&amp;#8715;</td>
                <td align="center" bgcolor="#f1f9ff">∏</td>
                <td>&amp;prod;</td>
                <td>&amp;#8719;</td>
                <td align="center" bgcolor="#f1f9ff">∑</td>
                <td>&amp;sum;</td>
                <td>&amp;#8722;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">−</td>
                <td>&amp;minus;</td>
                <td>&amp;#8722;</td>
                <td align="center" bgcolor="#f1f9ff">∗</td>
                <td>&amp;lowast;</td>
                <td>&amp;#8727;</td>
                <td align="center" bgcolor="#f1f9ff">√</td>
                <td>&amp;radic;</td>
                <td>&amp;#8730;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∝</td>
                <td>&amp;prop;</td>
                <td>&amp;#8733;</td>
                <td align="center" bgcolor="#f1f9ff">∞</td>
                <td>&amp;infin;</td>
                <td>&amp;#8734;</td>
                <td align="center" bgcolor="#f1f9ff">∠</td>
                <td>&amp;ang;</td>
                <td>&amp;#8736;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∧</td>
                <td>&amp;and;</td>
                <td>&amp;#8869;</td>
                <td align="center" bgcolor="#f1f9ff">∨</td>
                <td>&amp;or;</td>
                <td>&amp;#8870;</td>
                <td align="center" bgcolor="#f1f9ff">∩</td>
                <td>&amp;cap;</td>
                <td>&amp;#8745;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∪</td>
                <td>&amp;cup;</td>
                <td>&amp;#8746;</td>
                <td align="center" bgcolor="#f1f9ff">∫</td>
                <td>&amp;int;</td>
                <td>&amp;#8747;</td>
                <td align="center" bgcolor="#f1f9ff">∴</td>
                <td>&amp;there4;</td>
                <td>&amp;#8756;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">∼</td>
                <td>&amp;sim;</td>
                <td>&amp;#8764;</td>
                <td align="center" bgcolor="#f1f9ff">≅</td>
                <td>&amp;cong;</td>
                <td>&amp;#8773;</td>
                <td align="center" bgcolor="#f1f9ff">≈</td>
                <td>&amp;asymp;</td>
                <td>&amp;#8773;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">≠</td>
                <td>&amp;ne;</td>
                <td>&amp;#8800;</td>
                <td align="center" bgcolor="#f1f9ff">≡</td>
                <td>&amp;equiv;</td>
                <td>&amp;#8801;</td>
                <td align="center" bgcolor="#f1f9ff">≤</td>
                <td>&amp;le;</td>
                <td>&amp;#8804;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">≥</td>
                <td>&amp;ge;</td>
                <td>&amp;#8805;</td>
                <td align="center" bgcolor="#f1f9ff">⊂</td>
                <td>&amp;sub;</td>
                <td>&amp;#8834;</td>
                <td align="center" bgcolor="#f1f9ff">⊃</td>
                <td>&amp;sup;</td>
                <td>&amp;#8835;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⊄</td>
                <td>&amp;nsub;</td>
                <td>&amp;#8836;</td>
                <td align="center" bgcolor="#f1f9ff">⊆</td>
                <td>&amp;sube;</td>
                <td>&amp;#8838;</td>
                <td align="center" bgcolor="#f1f9ff">⊇</td>
                <td>&amp;supe;</td>
                <td>&amp;#8839;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⊕</td>
                <td>&amp;oplus;</td>
                <td>&amp;#8853;</td>
                <td align="center" bgcolor="#f1f9ff">⊗</td>
                <td>&amp;otimes;</td>
                <td>&amp;#8855;</td>
                <td align="center" bgcolor="#f1f9ff">⊥</td>
                <td>&amp;perp;</td>
                <td>&amp;#8869;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⋅</td>
                <td>&amp;sdot;</td>
                <td>&amp;#8901;</td>
                <td align="center" bgcolor="#f1f9ff">⌈</td>
                <td>&amp;lceil;</td>
                <td>&amp;#8968;</td>
                <td align="center" bgcolor="#f1f9ff">⌉</td>
                <td>&amp;rceil;</td>
                <td>&amp;#8969;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">⌊</td>
                <td>&amp;lfloor;</td>
                <td>&amp;#8970;</td>
                <td align="center" bgcolor="#f1f9ff">⌋</td>
                <td>&amp;rfloor;</td>
                <td>&amp;#8971;</td>
                <td align="center" bgcolor="#f1f9ff">◊</td>
                <td>&amp;loz;</td>
                <td>&amp;#9674;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">♠</td>
                <td>&amp;spades;</td>
                <td>&amp;#9824;</td>
                <td align="center" bgcolor="#f1f9ff">♣</td>
                <td>&amp;clubs;</td>
                <td>&amp;#9827;</td>
                <td align="center" bgcolor="#f1f9ff">♥</td>
                <td>&amp;hearts;</td>
                <td>&amp;#9829;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">♦</td>
                <td>&amp;diams;</td>
                <td>&amp;#9830;</td>
                <td align="center" bgcolor="#f1f9ff">&nbsp;</td>
                <td>&amp;nbsp;</td>
                <td>&amp;#160;</td>
                <td align="center" bgcolor="#f1f9ff">¡</td>
                <td>&amp;iexcl;</td>
                <td>&amp;#161;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">¢</td>
                <td>&amp;cent;</td>
                <td>&amp;#162;</td>
                <td align="center" bgcolor="#f1f9ff">£</td>
                <td>&amp;pound;</td>
                <td>&amp;#163;</td>
                <td align="center" bgcolor="#f1f9ff">¤</td>
                <td>&amp;curren;</td>
                <td>&amp;#164;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">¥</td>
                <td>&amp;yen;</td>
                <td>&amp;#165;</td>
                <td align="center" bgcolor="#f1f9ff">¦</td>
                <td>&amp;brvbar;</td>
                <td>&amp;#166;</td>
                <td align="center" bgcolor="#f1f9ff">§</td>
                <td>&amp;sect;</td>
                <td>&amp;#167;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">¨</td>
                <td>&amp;uml;</td>
                <td>&amp;#168;</td>
                <td align="center" bgcolor="#f1f9ff">©</td>
                <td>&amp;copy;</td>
                <td>&amp;#169;</td>
                <td align="center" bgcolor="#f1f9ff">ª</td>
                <td>&amp;ordf;</td>
                <td>&amp;#170;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">«</td>
                <td>&amp;laquo;</td>
                <td>&amp;#171;</td>
                <td align="center" bgcolor="#f1f9ff">¬</td>
                <td>&amp;not;</td>
                <td>&amp;#172;</td>
                <td align="center" bgcolor="#f1f9ff">­</td>
                <td>&amp;shy;</td>
                <td>&amp;#173;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">®</td>
                <td>&amp;reg;</td>
                <td>&amp;#174;</td>
                <td align="center" bgcolor="#f1f9ff">¯</td>
                <td>&amp;macr;</td>
                <td>&amp;#175;</td>
                <td align="center" bgcolor="#f1f9ff">°</td>
                <td>&amp;deg;</td>
                <td>&amp;#176;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">±</td>
                <td>&amp;plusmn;</td>
                <td>&amp;#177;</td>
                <td align="center" bgcolor="#f1f9ff">²</td>
                <td>&amp;sup2;</td>
                <td>&amp;#178;</td>
                <td align="center" bgcolor="#f1f9ff">³</td>
                <td>&amp;sup3;</td>
                <td>&amp;#179;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">´</td>
                <td>&amp;acute;</td>
                <td>&amp;#180;</td>
                <td align="center" bgcolor="#f1f9ff">µ</td>
                <td>&amp;micro;</td>
                <td>&amp;#181</td>
                <td align="center" bgcolor="#f1f9ff">"</td>
                <td>&amp;quot;</td>
                <td>&amp;#34;</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f9ff">&lt;</td>
                <td>&amp;lt;</td>
                <td>&amp;#60;</td>
                <td align="center" bgcolor="#f1f9ff">&gt;</td>
                <td>&amp;gt;</td>
                <td>&amp;#62;</td>
                <td align="center" bgcolor="#f1f9ff">'</td>
                <td>&nbsp;</td>
                <td>&amp;#39;</td>
            </tr>
            </tbody>
        </table>

    </div>

    <% include ../ga.ejs %>

</div>