<!DOCTYPE html>
<html>
<head>
    <title>Smart idea</title>

    <meta name="keywords"
          content="Smart">
    <meta name="description"
          content="Smart">
</head>

<body class="">
Hello smart idea

</body>
</html>

