body {
    background-color: #f4f4f4;
}

/**
 * loading
 */
/**load icon*/
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.pub_load {
    background:none !important;
    display: block;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.pub_load-orange {
    border-top: 2px solid rgba(255, 136, 48, 0.8);
    border-right: 2px solid rgba(255, 136, 48, 0.8);
    border-bottom: 2px solid rgba(255, 136, 48, 0.8);
    border-left: 2px solid #ffffff;
}
.pub_load-orange2 {
    border-top: 2px solid rgba(255, 136, 48, 0.8);
    border-right: 2px solid rgba(255, 136, 48, 0.8);
    border-bottom: 2px solid rgba(255, 136, 48, 0.8);
    border-left: 2px solid #f4f4f4;
}
.pub_load ,
.pub_load:after {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0px auto;
}
.pub_load_show .pub_load{display: block;}
.pub_load_hide .pub_load{display: none;}
.pub_load_hide .pub_load_name {display: block;}
.pub_load_show .pub_load_name {display: none;}
.pub_load_container {width: 100%;height: 2.75rem;line-height: 2.75rem;text-align: center;float: left;}
.pub_load_container {margin-top: 13px;}
.pub_load_absolute {position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -9px;}
/*load icon end*/
/**
 * body overflow
 */
.pub_body_overflow {overflow: hidden;}
.pub_body_gray {background-color: rgba(36, 36, 36, 0.05);  }
.pub_body_white {background-color: white;  }
.pub_body_f4 {background-color: #f4f4f4;  }

.hide {display: none !important;}
.show {display: block !important;}

/**
 * left right input style line-block
 */
.pub_list {}
.pub_list-white .pub_list_line_left {background-color: white;}
.pub_list_line {min-height: 50px;width: 100%;float: left;position:relative;border-top: 1px #e0e0e0 solid;background-color: white;}
.pub_list_line_bottom {border-bottom: 1px #e0e0e0 solid;}
.pub_list_line_left {width: 40%;min-height:3.125rem;line-height:3.125rem;
    float: left;background-color: rgba(36, 36, 36, 0.03);line-height: 14px;}
.pub_list_line_back_gray {background-color: #f4f4f4;}
.pub_list_line_left_multi {line-height: 24px;}
.pub_list_line_right {width: 60%;
    min-height: 50px;float: left;}
.pub_list_line_split {height: 10px;width: 100%;float: left;}

.pub_list_name {float: left;color: #242424;margin: 18px 0px 12px 15px;}
.pub_list_input {
    height: 36px;
    width: 160px;
    /*line-height: 36px;*/
    color: #242424;
    border: none;
    float: left;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.pub_list_input_relative {position: relative;
    top: auto;
    margin-top: 7px;}
.payment-stripe {width: 80%;height: 78px;float:left;margin-left: 10%;
    background: url("../../../images/m/payment/group_cards@2x.png") no-repeat center;
    background-size: 228px;
    margin-top: 24px;
}
.payment_add_confirm {width: 100%;height: 60px;float: left;}
.payment_add_confirm button {border: none;}
.pub_list_line_10 {width: 10%;}
.pub_list_line_20 {width: 20%;}
.pub_list_line_30 {width: 30%;}
.pub_list_line_40 {width: 40%;}
.pub_list_line_50 {width: 50%;}
.pub_list_line_60 {width: 60%;}
.pub_list_line_70 {width: 70%;}
.pub_list_line_80 {width: 80%;}
.pub_list_line_90 {width: 90%;}
/**
 * left right arrow style line
 */
.pub_list_arrow {
    height: 3.125rem;
    line-height: 3.125rem;
    width: 100%;
    float: left;
    text-align: right;
    position: relative;
}
.pub_list_arrow_text {margin-right: 36px;color: #656565;}
.pub_list_arrow::after, .pub_list_arrow::before {
    border: 6px solid transparent;
    border-left: 6px solid white;
    width: 0;
    height: 0;
    position: absolute;
    top: 18px;
    right: 15px;
    content: ' ';
}
.pub_list_arrow::before {
    border-left-color: #c7c7cc;
    top: 18px;
    right: 14px;
}
.pub_list_arrow_none::before{
    display: none;
}
/**
 * multi-line list style
 */
.pub_multi_content {}
.pub_multi_line_item {float: left;width: 100%;}
.pub_multi_line {min-height: 68px;width:100%;border-top: 1px rgba(36, 36, 36, 0.1) solid;background-color: white;float: left;}
.pub_multi_line_one {
    min-height: 1.5rem;
    margin-top: 12px;
    line-height: 1.5rem;
    font-size: 17px;
    font-weight: normal;
    width: 100%;
    float: left;
}
.pub_multi_line_two {min-height: 34px;
    line-height: 24px;width: 100%;float: left;font-size: 12px;
    color: rgba(36, 36, 36, 0.6);
}
.pub_multi_left {float: left;padding-left: 10px;width: 65%;}
.pub_multi_right {float: right;padding-right: 10px;}

/**
 * whole line input style
 */
.pub_input_title {width: 100%;height: 1.5rem;line-height: 1.5rem;text-indent: 15px;color: #242424;margin-bottom: 8px;}
.pub_input_line {width: 100%;height: 2.75rem;line-height: 1.5rem;border:none;padding:0px;border-top: 1px #e0e0e0 solid;color:#242424;
    text-indent: 15px;-webkit-appearance: none;}
.pub_input_line_split {height: 15px;width: 100%;}
.pub_input_line_bottom {border-bottom: 1px #e0e0e0 solid;}
/**
 * flat list
 */
.pub_flat_content {width: 100%;float: left;}
.pub_flat_line {width: 100%;float: left;min-height: 2.75rem;line-height: 2.75rem;background-color:white;border-top: 1px #e0e0e0 solid;}
.pub_flat_line_left {float: left;color: #242424;}
.pub_flat_line_name {margin-left: 15px;}
.pub_flat_line_name_style_1 {color: #ff8830;}
.pub_flat_line_right {float: right;text-align: right;color: rgba(36, 36, 36, 0.7);}
.pub_flat_line_data {margin-right: 15px;margin-left: 15px;}
.pub_flat_line_right-multi {float: left;width:100%;text-align:left;display: block;
    line-height: 20px;padding-bottom: 10px;}
/**
 * pop up
 */
.pub_pop {position: fixed;top:0px;z-index:999;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);}
.pub_pop.trans {background-color: transparent;}
.pub_pop_hide {display: none;}
.pub_pop_layout {position: relative;width: 100%;height: 100%;}
.pub_pop_block {
    position: absolute;
    left: 50%;top: 50%;width: 240px;
    margin-left: -120px;
    margin-top: -100px;
    background-color: #ffffff;border-radius: 6px;}
.pub_pop_action_block {
    position: absolute;
    left: 50%;top: 50%;width: 264px;min-height: 48px;
    margin-left: -132px;
    margin-top: -60px;
    background-color: #ffffff;border-radius: 2px;}
.pub_pop_title {font-size: 15px;color:#242424;font-weight: bold;width: 100%;text-align: center;padding-bottom: 8px;margin-top: 16px;}
.pub_pop_subTitle {font-size: 12px;width: 90%;padding:0px 5%;text-align: center;color: #505050;margin-bottom: 16px;}
.pub_pop_btns {height: 2.5rem;width:100%;border-top:1px #cccccc solid;line-height: 2.5rem;float: left;}
.pub_pop_btn {width:50%;text-align:center;font-size: 15px;color: #007AFF;float: left;}
.pub_pop_btn_alert {width:100%;text-align:center;font-size: 15px;color: #007AFF;float: left;}
.pub_pop_btn_left {border-right: 1px #cccccc solid;margin-left: -1px;}
.pub_pop_btns_action {height: 100%;width:100%;line-height: 16px;float: left;}
.pub_pop_btn_horizontal {margin: 16px 0px 16px 24px;width:100%;text-align:left;font-size: 16px;color: #242424;float: left;}
.pub_pop_btn_horizontal.disabled {color: rgba(36, 36, 36, 0.4);}
/**
 * pop hint
 */
.pub_hint {position: fixed;top:0px;z-index:999;width: 100%;height: 100%;background-color: rgba(0,0,0,0); pointer-events:none;}
.pub_hint_hide {opacity: 0; transition: 0.3s ease;}
.pub_hint_layout {position: relative;width: 100%;height: 100%;  }
.pub_hint_block.ios {
    position: absolute;
    font-size: 0.8125rem;
    color: white;
    left: 0;
    top: 50%;
    width: 100%;
    line-height: 1.2;
    transform: translate(0, -50%);
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    transition: 0.3s ease;
    text-align: center;
}
.pub_hint_block.ios .pub_hint_wrapper {
    display: inline-block;
    padding: 8px 12px;
    background-color: rgba(36, 36, 36, 0.8);
    border-radius: 3px;
    max-width: 80%;
}
.pub_hint_block.ios.in {
    opacity: 1;
}
.pub_hint_block.android {
    position: absolute;
    font-size: 0.8125rem;
    color: white;
    left: 0;
    top: 86%;
    width: 100%;
    line-height: 1.2;
    transform: translate(0, -50%);
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    opacity: 0;
    transition: 0.3s margin cubic-bezier(0.24, 1.29, 0.5, 1.24), 0.3s opacity ease;
    text-align: center;
}
.pub_hint_block.android .pub_hint_wrapper {
    display: inline-block;
    padding: 14px 14px;
    background-color: rgba(36, 36, 36, 0.68);
    border-radius: 9px;
    max-width: 80%;
}
.pub_hint_block.android.in {
    margin: 0;
    opacity: 1;
}

.pub_hint_content {}
/**
 * pop loading
 */
.pub_pop_loading {position: fixed;top:0px;z-index:999;width: 100%;height: 100%;background-color: rgba(0,0,0,0);}
.pub_pop_loading_hode {display: none;}
.pub_pop_loading_layout {position: relative;width: 100%;height: 100%;text-align: center;color: white;}
.pub_pop_loading_layout_block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96px;
    height: 96px;
    margin-left: -48px;
    margin-top: -48px;
    background-color: #242424;
    border-radius: 10px;}
.pub_pop_notext_false .pub_pop_loading_img {margin: 32px auto 10px auto; }
.pub_pop_loading_img {width: 24px;
    height: 24px;
    margin: 24px auto 10px auto;
    background: url("../../../images/m/plugin/loading@2x.png") no-repeat center;
    background-size: 25px;
    -webkit-animation: load8 1.5s infinite linear;
    animation: load8 1.5s infinite linear;
}
.pub_pop_loading_text {opacity: 0.9;font-size: 16px;}
/**
 * pop exhibit
 */
.pub_exhibit {position: fixed;top:0px;z-index:999;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);}
.pub_exhibit_hide {display: none;}
.pub_exhibit_layout {position: relative;width: 100%;height: 100%;}
.pub_exhibit_wrapper {width: 300px;height:400px;margin:50px auto;background-color: white;border-radius: 8px;text-align: center;}
.pub_exhibit_close {position: absolute;top: -30px;right: 10px;width: 20px;height: 20px;color: white;}
.pub_exhibit_title {width: 252px;float: left;color: #242424;margin-top: 24px;margin-bottom: 7px;width: 100%;}
.pub_exhibit_sub {width: 90%; min-height:90px;font-size: 14px; margin: 0px 5%; margin-bottom:12px;color: #242424;}
.pub_exhibit_unit {float: left;transition: all 0.3s ease-in-out;}
.pub_exhibit_con {
    width: 252px;
    overflow: hidden;
    margin: 0px auto;}
.pub_exhibit_item {width: 252px;height: 257px;float: left;}
.pub_exhibit_img {width: 252px;height:237px;float: left;}
.pub_exhibit_img_sub {height: 1.25rem;line-height:1.25rem;font-size:11px;color:#7C7C7C;width: 100%;text-align: center;float: left;}
.pub_exhibit_focus {float: left;width: 100%;height: 30px;text-align: center;}
.pub_exhibit_circle {background-color: white;height: 6px;width: 6px;display: inline-block;border: 1px #ff8830 solid;border-radius: 6px;  margin: 0px 2px;}
.pub_exhibit_circle_active {background-color: #ff8830;height: 6px;border: none;border: 1px #ff8830 solid;width: 6px;border-radius: 6px;}

/**
 * error page
 */
.pub_err-block{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: -90px;
    text-align: center;
    text-align: center;
}
.pub_err-block_hide {display: none;}
.pub_err-img {
    height: 40px;
    width: 278px;;
    background: url("/images/person/jumper.png") no-repeat center;
}
.pub_err-txt{
    display: inline-block;
    font-size: 16px;
    width: 260px;
    text-align: center;
}
.pub_err-title {margin-top: 30px;}
/**
 * orange button
 */
.pub_btn_orange {
    height: 2.375rem;
    line-height: 2.375rem;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: #ff8830;
    font-size: 18px;
    color: white;
    border-radius: 4px;
}
.pub_btn_bottom_fixed {
    width: 80%;
    margin-left: 10%;
    position: fixed;
    bottom: 8px;
}