<style>
    .wrapper {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        height: auto;}
    table {border-collapse: collapse;
        border-spacing: 0;}
    .pb20 {padding-bottom: 20px;padding-top: 20px;}
    .Tsfuhao-Wrap02 th, .Tsfuhao-Wrap td {
        border: 1px solid #c6cede;
        border-collapse: collapse;
        padding: 7px;
    }
    .line {border-bottom: 1px #d3d3d3 solid;width: 100%;padding: 10px 0px}
</style>
<div class="github_body">
    <div>在线压缩图片png或者JPEG, 优化图片质量，高还原度</div>
    <a target="_blank" href="https://tinypng.com/" style="color: red;">https://tinypng.com/</a>
</div>
